@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

:root {
   --primary: blue;

   --primary-darktheme: blue;
   --black: #000;
   --white: #fff;
   --text-color: #161823;
   --search-btn: rgba(22, 24, 35, 0.75);
   --separator-color: rgba(22, 24, 35, 0.12);
   --focus-border-color: rgba(22, 24, 35, 0.2);
   --bg-search: rgba(22, 24, 35, 0.06);
   --search-title-color: rgba(22, 24, 35, 0.5);
   --search-icon-color: rgba(22, 24, 35, 0.34);
   --hover-color: rgba(22, 24, 35, 0.03);
   --popper-color: #fff;
   --user-name: rgba(22, 24, 35, 0.5);
   --bg-btn-color: rgba(0, 0, 0, 0.06);
   --bg-color: #fff;
   --scrollbar-thumb-bg: rgba(0, 0, 0, 0.15);
   --suggested-label: rgba(22, 24, 35, 0.5);
   --bg-video-feature: rgba(22, 24, 35, 0.06);
   --bg-color-2: #f8f8f8;
   --info-count: rgba(18, 18, 18, 0.75);

   --description-color: #8a8b91;
   --input-bg: #e4e4e6;
   --bg-live: #c5c6c8;

   // --primary-darktheme: #fff;
   // --black: #fff;
   // --white: #000;
   // --text-color: #fff;
   // --search-btn: #565858;
   // --separator-color: #ffffff1f;
   // --focus-border-color: #565858;
   // --bg-search: #ffffff1f;
   // --search-title-color: #fff;
   // --search-icon-color: #ffffff1f;
   // --hover-color: #ffffff0a;
   // --popper-color: #252525;
   // --user-name: #e3e5ed;
   // --bg-btn-color: #ffffff1f;
   // --bg-color: #121212;
   // --scrollbar-thumb-bg: hsla(0, 0%, 100%, 0.08);
   // --suggested-label: #ffffff80;
   // --bg-video-feature: #ffffff1f;
   // --bg-color-2: #252525;
   // --info-count: #e3e5ed;

   // --description-color: #ffffff80;
   // --input-bg: #ffffff1f;
   // --bg-live: #ffffff1f;

   --font-family: 'Montserrat', sans-serif;
   --default-layout-header-height: 60px;
   --default-layout-width: 1150px;
   --default-layout-horizontal-spacer: 24px;
}
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
html {
   font-size: 62.5%;
}
body.darktheme {
   --primary-darktheme: #fff;
   --black: #fff;
   --white: #000;
   --text-color: #fff;
   --search-btn: #565858;
   --separator-color: #ffffff1f;
   --focus-border-color: #565858;
   --bg-search: #ffffff1f;
   --search-title-color: #fff;
   --search-icon-color: #ffffff1f;
   --hover-color: #ffffff0a;
   --popper-color: #252525;
   --user-name: #e3e5ed;
   --bg-btn-color: #ffffff1f;
   --bg-color: #121212;
   --scrollbar-thumb-bg: hsla(0, 0%, 100%, 0.08);
   --suggested-label: #ffffff80;
   --bg-video-feature: #ffffff1f;
   --bg-color-2: #252525;
   --info-count: #e3e5ed;

   --description-color: #ffffff80;
   --input-bg: #ffffff1f;
   --bg-live: #ffffff1f;
}
body {
   font-family: var(--font-family);
   font-size: 1.6rem;
   line-height: 1.5;
   text-rendering: optimizeSpeed;
   color: var(--text-color);
   overflow-y: overlay;
   // background-color: var(--black);
   // color: var(--white);
}

// Scrollbar CSS
html *::-webkit-scrollbar {
   border-radius: 0;
   width: 8px;
}

html *::-webkit-scrollbar-thumb {
   border-radius: 4px;
   background-color: var(--scrollbar-thumb-bg);
}

html *::-webkit-scrollbar-track {
   border-radius: 0;
   background-color: rgba(0, 0, 0, 0);
}

button,
input,
[tabindex] {
   outline: none;
   border: none;
}

a {
   color: var(--text-color);
   text-decoration: none;
}

//custom tippy tooltip
body {
   .tippy-box {
      border-radius: 8px;
      font-weight: 600;
      font-size: 1.4rem;
      line-height: 2.2rem;
      background-color: rgba(84, 84, 84, 0.92);
   }
   .tippy-arow {
      color: rgba(84, 84, 84, 0.92);
   }
   .tippy-content {
      padding: 8px 9px;
   }
}

// Responsive

// Tablet: 740 < width <1024px
@media only screen and (min-width: 46.25em) and (max-width: 63.9375em) {
   .hide-on-tablet-mobile {
      display: none;
   }
   .content-margin {
      margin-left: 238px;
   }
   .video-container {
      width: 510px;
   }
   .upload-center {
      margin-left: -172px;
   }
}
// Mobile, Tablet: width <1024px
@media only screen and (max-width: 63.9375em) {
   .hide-on-tablet-mobile {
      display: none;
   }
   .search-rse {
      width: auto;
   }
   .sidebar-rse {
      width: 230px;
   }
   .magin-auto {
      margin: auto;
   }
   .ml-tablet {
      margin-left: 220px;
   }
}
// Mobile: width < 740px

@media only screen and (max-width: 46.1875em) {
   .hide-on-mobile {
      display: none;
   }
   .sidebar-rse {
      width: 60px !important;
   }
   .content-margin {
      margin-left: 60px !important;
   }
   .video-container {
      width: 239px;
   }
   .video-width {
      width: 160px !important;
   }
   .width-video-profile {
      min-width: 0;
      width: 90%;
   }
   .avatar-wh {
      width: 36px;
      height: 36px;
   }
   .video-detail {
      flex-direction: column;

      overflow: scroll;
   }
   .linea {
      width: 100px;
   }
   .lineb {
      width: 160px;
   }
   .avatar-wh-profile {
      height: 80px;
      width: 80px;
   }
   .btn-min-width {
      min-width: 130px !important;
   }
   .ml-header-btn-more {
      margin-left: 0;
   }
   .flex-column {
      flex-direction: column;
   }
   .upload-m-auto {
      margin: auto;
   }
   .reset-mg {
      margin: 0;
   }
   .ml {
      margin-left: 0 !important;
   }
   .width-auto {
      width: auto;
   }
   .width-full {
      width: 100%;
   }
   .flex-wrap {
      flex-wrap: wrap;
   }
}
