.wrapper {
   position: fixed;
   top: 0;
   width: 100%;
   height: 100%;
   z-index: 40;
   background-color: var(--white);
}
.inner {
   position: relative;
   display: flex;
   //    flex-direction: column;
   // justify-content: center;
   width: 100%;
   height: 100%;
}

.video-btn {
   line-height: 0;
   color: var(--white);
   height: 40px;
   width: 40px;
   position: absolute;
   z-index: 4;
   background-color: #3b3c40;
   top: 20px;
   left: 20px;
}
.video-btn-prev {
   line-height: 0;
   color: var(--white);
   height: 40px;
   width: 40px;
   position: absolute;
   z-index: 4;
   background-color: #3b3c40;
   top: 45%;
   right: 20px;
   transform: rotate(270deg);
}
.video-btn-next {
   line-height: 0;
   color: var(--white);
   height: 40px;
   width: 40px;
   position: absolute;
   z-index: 4;
   background-color: #3b3c40;
   top: 55%;
   right: 20px;

   transform: rotate(90deg);
}
.thumbnail {
   z-index: 1;
   // position: absolute;
   // width: 60%;
   flex: 1;
   width: 60%;
   height: 100%;
   object-fit: cover;
   filter: brightness(0.2);
}
.avatar {
   width: 44px;
   height: 44px;
   object-fit: cover;
   border-radius: 50%;
}
.video {
   position: absolute;
   z-index: 3;
   width: 400px;
   margin: auto;
   align-self: center;
   inset: 1;
   border-radius: 10px;
}
.video-wrapper {
   //    max-width: 470px;
   height: 100%;
   width: 100%;
   // flex: 2;
   flex-basis: 60%;
}
.video-info {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   flex: 1;
   flex-basis: 40%;

   // margin-right:   40px;
}
.video-thumbnail {
   width: 100%;
   height: 100%;
}
.video-inner {
   position: relative;
   //    width: 100%;
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
}
.video-info-wrapper {
   margin: 40px 30px 0px 30px;
}
.video-info-detail {
   cursor: pointer;
   display: flex;
   justify-content: space-between;
}
.video-info-detail-wrapper {
   display: flex;
}
.video-info-caption {
   color: #8a8b91;
   margin-top: 10px;
}
.video-info-music {
   font-size: 1.8rem;
   margin-top: 10px;
}
.video-info-link {
   margin-top: 10px;
   display: flex;
   flex-direction: column;
}
.video-info-link-icon {
   width: 24px;
   height: 24px;
   font-size: 2.4rem;
   + .video-info-link-icon {
      margin-left: 10px;
   }
}
.video-info-link-wrapper {
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.nickname {
   font-size: 1.8rem;
   font-weight: 700;
   &:hover {
      text-decoration: underline;
   }
}
.name {
   font-size: 1.4rem;
   font-weight: 300;
}
.info-wrapper {
   margin-left: 5px;
   display: flex;
   flex-direction: column;
   align-items: start;
   justify-content: center;
}

.icon-left {
   display: flex;
   align-items: center;
}
.icon-left-num {
   margin-left: 6px;
   margin-right: 6px;
   font-size: 1.3rem;
   font-weight: 600;
}
.link {
   position: relative;
   margin-top: 10px;
   background-color: #e4e4e6;
   height: 40px;
   border-radius: 9px;
   padding: 10px;
   &:hover {
      cursor: text;
   }
}
.icon-l-btn {
   width: 32px;
   height: 32px;
   line-height: 0;
   background-color: #f1f1f2;
   ~ .icon-l-btn {
      margin-left: 20px;
   }
}
.video-icon-l {
   line-height: 0;
}
.video-icon-r {
   display: flex;
   align-items: center;

   line-height: 0;
}
.video-icon-r-item {
   cursor: pointer;
   + .video-icon-r-item {
      margin-left: 6px;
   }
}
//cmt
.cmt {
   margin-top: 20px;
   border-top: 1px solid #d0d1d3;
   overflow-y: scroll;
   max-height: 333px;
   display: flex;
   flex-direction: column;
}
.cmt-inner {
   margin: 10px 20px 0px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.cmt-icon {
   width: 20px;
   height: 20px;
   font-size: 2rem;
}
.cmt-avt {
   width: 44px;
   height: 44px;
   object-fit: cover;
   border-radius: 50%;
}
.cmt-l {
   display: flex;
   align-items: center;
   justify-content: center;
}
.cmt-info {
   margin-left: 10px;
}
.cmt-nickname {
   font-size: 2rem;
   font-weight: 600;
}
.cmt-time,
.cmt-text {
   font-size: 1.4rem;
   color: #8a8b91;
}
.cmt-r {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;

   color: #8a8b91;
}
.cmt-number {
   font-size: 1.2rem;
}
.video-post {
   border-top: 1px solid #d0d1d3;
   height: 90px;
}
.video-post-inner {
   display: flex;
   margin: 20px;
}
.cmt-input {
   font-size: 1.5rem;
   background-color: #f1f1f2;
   flex: 1;
   padding: 15px;
   border-radius: 10px;
   &:not(:placeholder-shown) ~ .cmt-btn {
      color: var(--primary);
   }
}
.cmt-btn {
   color: #8a8b91;
}
.cmt-message {
   margin: 20px auto;
   font-size: 1.6rem;
   font-weight: 700;
}
