.wrapper {
   border-radius: 8px;
   background-color: var(--bg-color);
   padding: 24px 56px;
   margin-left: -114px;
   margin-right: 160px;
   padding: 50px;
   box-shadow: var(--bg-btn-color) 0px 2px 8px;
}

.title {
   font-size: 2.4rem;
   font-weight: 700;
   line-height: 1.5;
   display: block;
}

.subtitle {
   display: block;
   line-height: 1.5;
   font-size: 1.7rem;
   color: var(--suggested-label);
   margin-top: 2px;
}

.content {
   display: flex;
   margin-top: 24px;
   margin-bottom: 130px;
}

.uploader {
   margin-top: 24px;
}

.upload-card {
   position: relative;
   // overflow: hidden;
   border-radius: 8px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   cursor: pointer;
   transition: background 0.15s ease-in-out 0s;
   padding-left: 30px;
   padding-right: 30px;
   width: 260px;
   height: 458px;
   border: 2px dashed var(--focus-border-color);

   button {
      margin-top: 32px;
      width: 100%;
      border-radius: 2px;
   }

   &:hover {
      border: 2px dashed var(--primary);
      background: var(--hover-color);
   }
}
.cloud-icon {
   width: 40px;
   height: 29px;
}

.text-main {
   text-align: center;
   margin-top: 24px;
   font-size: 1.8rem;
   font-weight: 600;
}

.text-sub {
   margin-top: 4px;
   margin-bottom: 24px;
   font-size: 1.4rem;
   font-weight: 400;
   color: var(--search-btn);
}

.text-video-info {
   display: flex;
   text-align: center;
   flex-direction: column;
   align-items: center;
   font-size: 1.4rem;
   font-weight: 400;
   color: var(--suggested-label);

   span {
      margin-bottom: 6px;
   }
}
.form {
   margin-left: 30px;
}
.caption-input {
   padding: 0 20px;
   margin-top: 6px;
   border-radius: 3px;
   border: 1px solid var(--separator-color);
   height: 40px;
   font-size: 2rem;
}
.cover-wrap,
.caption-wrap,
.thumbnail-wrap,
.music,
.privacy,
.switch-wrap,
.copyright-wrap {
   margin-top: 20px;
   display: flex;
   flex-direction: column;
}
.thumbnail-input {
   padding: 0 20px;
   margin-top: 6px;

   border-radius: 3px;
   border: 1px solid var(--separator-color);
   height: 40px;
   font-size: 2rem;
}
.cover-input {
   padding: 0 20px;
   text-align: start;
   margin-top: 6px;

   border-radius: 3px;
   border: 1px solid var(--separator-color);
   height: 200px;
   pointer-events: none;
}
.switch-wrap-input {
   width: 20px;
   height: 20px;
   accent-color: var(--primary);
   padding: 5px;
   ~ .switch-wrap-input {
      margin-left: 20px;
   }
}
.privacy-input {
   margin-top: 6px;
   height: 40px;
   width: 300px;

   border-radius: 3px;
}
.switch-wrap-label {
   margin-left: 6px;

   font-size: 2rem;
}

.music-input {
   padding: 0 20px;
   margin-top: 6px;

   border-radius: 3px;
   border: 1px solid var(--separator-color);
   height: 40px;
   font-size: 2rem;
}
.title {
   font-size: 1.8rem;
   font-weight: 600;
   color: var(--black);
}
.privacy-input,
.privacy-input-value {
   font-size: 2rem;
   padding: 5px;
}
.switch-wrap-container {
   display: flex;
   align-items: center;
}
.switch-wrap-inner {
   display: flex;
   align-items: center;
   + .switch-wrap-inner {
      margin-left: 10px;
   }
}
.btn-wrap {
   margin-top: 20px;
}
