.search,
.search-result {
   width: 361px;
}

.search {
   position: relative;
   height: var(--search-height);
   padding-left: 16px;
   background-color: var(--bg-search);
   border-radius: var(--search-border-radius);
   display: flex;
   border: 1.5px solid transparent;
   input {
      padding-right: 40px;
      font-family: var(--font-family);
      flex: 1;
      height: 100%;
      color: var(--black);
      font-size: 1.6rem;
      background-color: transparent;
      caret-color: var(--primary);
   }
   input:not(:placeholder-shown) ~ .search-btn {
      color: var(--search-btn);
   }
   &::after {
      content: '';
      position: absolute;
      height: calc(var(--search-height) - var(--search-top-spacer) * 2);
      width: 1px;
      top: var(--search-top-spacer);
      right: var(--search-button-width);
      background-color: var(--separator-color);
   }
   &:focus-within {
      border-color: var(--focus-border-color);
   }
}
.search-result {
}
.search-title {
   font-size: 14px;
   font-weight: 600;
   padding: 5px 12px;
   color: var(--search-title-color);
}
.clear,
.loading {
   font-size: 2rem;
   position: absolute;
   right: calc(var(--search-button-width) + 16px);
   top: 50%;

   transform: translateY(-50%);
   color: var(--search-icon-color);
   background-color: transparent;
}
.clear {
}

.loading {
   animation: spinner 1s linear infinite;
}

@keyframes spinner {
   from {
      transform: translateY(-50%) rotate(0deg);
   }
   to {
      transform: translateY(-50%) rotate(360deg);
   }
}

.search-btn {
   width: var(--search-button-width);
   height: 100%;
   border-top-right-radius: var(--search-border-radius);
   border-bottom-right-radius: var(--search-border-radius);
   font-size: 1.9rem;
   background-color: transparent;
   color: var(--search-icon-color);
   &:hover {
      background-color: var(--hover-color);
      cursor: pointer;
   }
   &:active {
      color: var(--search-title-color);
   }
}
