.wrapper {
   //    width: 100%;
   //    flex: 1;
}
.inner {
   padding-top: 20px;
   padding-right: 8px;
}

.header {
   // box-shadow: rgb(0 0 0 / 12%) 0px 2px 12px;
   display: flex;
   + .header {
      margin-top: 39px;
   }
}

.avatar {
   width: 56px;
   height: 56px;
   border-radius: 50%;
   object-fit: cover;
}

.container {
   margin: 0px 19px;
   min-width: 569px;
}

.name {
   font-size: 1.8rem;
   font-weight: 600;
}

.description {
   font-size: 1.6rem;
   font-weight: 500;
}

.wrapper-video {
}

.video {
   margin-top: 19px;
   border-radius: 9px;
   // border: 1px solid rgba(0, 0, 0, 0.04);

   box-shadow: rgb(0 0 0 / 12%) 0px 2px 12px;
   width: 300px;
}

.action {
}

.likes {
}

.comments {
}

.share {
}

.btn-follow {
}
